<h1 class='text-center'>Olá Pessual</h1>

<div class="container">
  <%= simple_form_for :user do |f| %>
    <%= f.input :nome %>
    <%= f.submit 'Salvar', class: 'btn btn-info' %>
  <% end %>
</div>
