<h1 class='text-center'>Olá Pessual</h1>

<div class="container">
  <%= simple_form_for :user do |f| %>
    <%= f.input :nome %>
  <% end %>

  <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'btn btn-danger btn-block' %>
</div>
