<div class="main">
	<div class="content">
		<script type="text/javascript">
			$(document).ready(function () {
				$('#horizontalTab').easyResponsiveTabs({
					type: 'default', //Types: default, vertical, accordion           
					width: 'auto', //auto or any width like 600px
					fit: true   // 100% fit in a container
				});
			});
			
		</script>
			<div class="sap_tabs">
				<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
					<div class="pay-tabs">
						<h2>Selecione a forma de pagamento</h2>
						  <ul class="resp-tabs-list">
							  <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span><label class="pic1"></label>Cartão de Crédito</span></li>
							  <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span><label class="pic3"></label>Boleto Bancário</span></li>
						  </ul>	
					</div>
					<div class="resp-tabs-container">
						<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
							<div class="payment-info">
								<h3 class="pay-title">Informações do Cartão</h3>
								<form method="POST" action="">
									<input type="hidden" name="payment_type" value="2">
									<div class="tab-for">				
										<h5>NOME NO CARTÃO</h5>
											<input type="text" value="">
										<h5>NÚMERO</h5>													
											<input class="pay-logo" type="text" value="0000-0000-0000-0000" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '0000-0000-0000-0000';}" required="">
									</div>	
									<div class="transaction">
										<div class="tab-form-left user-form">
											<h5>VALIDADE</h5>
												<ul>
													<li>
														<input type="number" class="text_box" type="text" value="6" min="1" max="12" />	
													</li>
													<li>
														<input type="number" class="text_box" type="text" value="2018" min="1" />	
													</li>
													
												</ul>
										</div>
										<div class="tab-form-right user-form-rt">
											<h5>CÓDIGO DE VERIFICAÇÃO</h5>													
											<input type="text" value="xxxx" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'xxxx';}" required="">
										</div>
										<div class="clear"></div>
									</div>
									<input type="submit" value="FINALIZAR COMPRA">
								</form>
							</div>
						</div>
						<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
							<div class="payment-info">
								<h3>Boleto Bancário</h3>
								<div class="login-tab">
									<div class="user-login">
										<form method="POST" action="">
											<input type="hidden" name="payment_type" value="1">
											<div class="user-grids">
												<div class="user-right">
													<input type="submit" value="FINALIZAR COMPRA">
												</div>
												<div class="clear"></div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
	</div>
</div>