.text-center.container{
	margin-top: 50px;
	> h2{
		font-size: 36px;
	    font-weight: 500;
	    color: #0e8ce4;
	}
	.simple_form.new_user{
	    max-width: 700px;
    	margin: 40px auto 20px;
    	width: 100%;
    	.form-group{
    		.form-control-label{
    			margin-bottom: 15px;
    		}
    		.string{
    			margin-bottom: 30px;
    		}
    	}
    	.actions{
    		margin-top: 25px;
    	}
	}
	a:first-child{
		margin-top: 25px;
	}
}